{% extends 'layout.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/agregarMesas.css' %}">
{% endblock %}
{% block content %}
<section class="order" id="order">
    <div class="flex justify-around py-8">
      <div class="text-center text-5xl font-extrabold leading-none tracking-tight">
        <span
          class="mb-12 bg-clip-text text-transparent bg-gradient-to-r from-red-900 to-red-700"
        >
        Activar Mesero
        </span>
      </div>
    </div>
  
      <div class="row mb-10 ">
          
          <div class="image mb-12">
              <img src="img/order-img.jpg" alt="">
          </div>
  
          <form class=""action="">
  
           
  
              <div class="top-4 md:top-6 inputBox mb-12">
                  
              <input type="number" name="mesero" placeholder="Documento">
              </div>
              <button class="content-center shadow bg-red-900 hover:bg-red-700 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="submit">
                Activar
               </button>
             
  
              
  
          </form>
  
      </div>
  
  </section>
{% endblock %}