{% extends 'layout.html' %}
{% load static %}
{% block css %}

{% endblock %}
{% block content %}

{% load humanize %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
  function postularOferta(id) {
    Swal.fire({
      "title": "¿Estas szzeguro?",
      "text": "Esta accion no se puede revertir",
      "icon": "question",
      "showCancelButton": true,
      "cancelButtonText": "No, Cancelar",
      "confirmButtonText": "Si, Postular",
      "reverseButtons": true,
      "confirmButtonColor": "#dc3545"
    })
      .then(function (result) {
        if (result.isConfirmed) {
          window.location.href = "/postular/" + id + "/"
        }
      })
  }
</script>
<main style="min-height: 83vh;">
<div class="flex flex-wrap flex-row gap-8 justify-center mt-12 p-4">
  {% for o in oferta %}
  <div class="flex justify-center">
    <div class="block p-6 rounded-lg shadow-lg bg-white max-w-sm border-solid border-2">
      <div class="text-center">
        <img src="{% static 'img/Logos/oferta.png' %}" alt="Avatar" />
      </div>
      <div class="flex flex-col justify-center">
        <h5 class="text-gray-900 text-xl leading-tight font-medium mb-2">Restaurante: {{ o.nombre | title }}</h5>
        <p class="text-gray-700 text-base mb-4">Vacantes: {{ o.vacantes }}</p>
        <p class="text-gray-700 text-base mb-4">Direccion: {{ o.direccion | capfirst }}</p>
        <p class="text-gray-700 text-base mb-4">Telefono: {{ o.telefono }}</p>
        <p class="text-gray-700 text-base mb-4">Pago: {{ o.pago | intcomma }}</p>
      </div>
      <div class="flex justify-center gap-4">
        <button type="button" onclick="postularOferta({{ o.id }})"
          class="w-40 inline-block px-6 py-2.5 bg-red-800 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-red-800 hover:shadow-lg focus:bg-red-800 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out">Postular</button>
        <button onclick="abrirDetalle('{% url 'detalleVacante' o.id %}')" class="w-40 inline-block px-6 py-2.5 bg-gray-400 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-gray-600 hover:shadow-lg focus:bg-gray-600 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-600 active:shadow-lg transition duration-150 ease-in-out">Ver
          Detalles</button>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

</main>
<div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
  id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

</div>
<!-- -------------------------------------------- -->
{% endblock %}
{% block detallejs %}
<script type="text/javascript">
    var $ = jQuery.noConflict();
    function abrirDetalle(url) {
        $('#exampleModal').load(url, function (){
            console.log("Entro");
            $(this).modal('show');
     });
    }
</script>
{% endblock %}