
:root{
   --peru:#991B1B;
   --black:#222;
   --white:#fff;
   --light-black:#666;
   --light-white:#ccc;
   --light-bg:#f5f5f5;
   --dark-bg:rgba(0,0,0,.7);
   
}




html{
   font-size: 62.5%;
}


section{
   padding:1rem 7%;
}







.menu{
   background: var(--light-bg);
   height: 935px;
}

.menu .slide .title{
   padding:1rem;
   font-size: 3rem;
   color:var(--white);
   background: var(--peru);
   margin-bottom: 3rem;
   text-align: center;
}

.menu .slide .box-container
{

   display: flex;
   flex-wrap: wrap;
   gap:2rem;
   padding-bottom: 4rem;

}

.menu .slide .box-container .box{
  
   background: var(--white);
   padding:2rem;
   box-shadow: var(--box-shadow);
   border:var(--border);
   display: flex;
   align-items: center;
   gap:1rem;
   
}
