{% load static %}
<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
<link rel="shortcut icon" href="{% static 'img/Logos/FoodTimefav.png' %}" type="image/x-icon">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
<script src="https://cdn.tailwindcss.com"></script>
<script src="{% static 'js/sweetalert2.all.min.js' %}"></script>

<script>
    function cancelarFacturas(mesa) {
        Swal.fire({
            "title":"¿Estas seguro?",
            "icon":"question",
            "showCancelButton":true,
            "cancelButtonText":"No, Cancelar",
            "confirmButtonText":"Si, Cancelar",
            "reverseButtons":true,
            "confirmButtonColor":"#dc3545"
        })
        .then(function(result) {
            if(result.isConfirmed) {
                window.location.href = "/cancelarFacturas/"+mesa+"/"
            }
        })
    }
</script>
<script>
    function pagarFacturas(mesa) {
        Swal.fire({
            "title":"¿Estas seguro?",
            "icon":"question",
            "showCancelButton":true,
            "cancelButtonText":"No, Cancelar",
            "confirmButtonText":"Si, Pagar",
            "reverseButtons":true,
            "confirmButtonColor":"#dc3545"
        })
        .then(function(result) {
            if(result.isConfirmed) {
                window.location.href = "/pagarFacturas/"+mesa+"/"
            }
        })
    }
</script>


<a class=
    "fixed
    top-4
    left-4
    border-2
    border-solid
    border-white
    mb-2
    transition 
    duration-500 
    ease-in-out 
    transition 
    ease-in-out 
    delay-150 
    hover:-translate-y-1 
    hover:scale-110 
    hover:bg-red-800 
    duration-300
    bg-red-800 
    text-white 
    font-semibold 
    py-2 px-2
    rounded-md"  
    href="{%  url 'mesasFactura' %}">
Atras
</a>
<a class=
        "fixed
        top-4
        right-4
        border-2
        border-solid
        border-white
        mb-2
        transition 
        duration-500 
        ease-in-out 
        transition 
        ease-in-out 
        delay-150 
        hover:-translate-y-1 
        hover:scale-110 
        hover:bg-red-800 
        duration-300
        bg-red-800 
        text-white 
        font-semibold 
        py-2 px-2
        rounded-md" 
        href="{% url 'logout' %}">
        Cerrar Sesion
    </a>
    <header class="px-5 py-4 border-b border-gray-100">
        <div class="font-semibold text-gray-800 flex justify-center"><h1 class="text-7xl">Factura</h1></div>
    </header>
<section class="antialiased  text-gray-600 mt-4 px-4" x-data="app">
    <div class="flex flex-col justify-center mt-4">
        <!-- Table -->
        <div class="w-full mt-8 max-w-2xl mx-auto bg-white shadow-lg rounded-sm border border-gray-200">
            <header class="px-5 py-4 border-b border-gray-100">
                <div class="font-semibold text-gray-800">Factura</div>
            </header>

            <div class="overflow-x-auto p-3">
                <table class="table-auto w-full">
                    <thead>
                    
                        <tr>
                            <th class="p-2">
                                <div class="font-semibold text-left">Nombre Producto</div>
                            </th>
                            <th class="p-2">
                                <div class="font-semibold text-left">Cantidad</div>
                            </th>
                            <th class="p-2">
                                <div class="font-semibold text-left">Precio</div>
                            </th>
                            <th class="p-2">
                                <div class="font-semibold text-left">total</div>
                            </th>
                            <th class="p-2">
                                <div class="font-semibold text-center"></div>
                            </th>
                        </tr>
                    </thead>

                    <tbody class="text-sm divide-y divide-gray-100">
                        {% for datos in datos %}
                        <!-- record 1 -->
                        <tr>
                            
                            <td class="p-2">
                                <div class="font-medium text-gray-800">
                                    {{ datos.nombre }}
                                </div>
                            </td>
                            <td class="p-2">
                                <div class="text-left">{{ datos.cantidad }}</div>
                            </td>
                            <td class="p-2">
                                <div class="text-left font-medium text-red-800">
                                    {{ datos.valor }}
                                </div>
                            </td>
                            <td class="p-2">
                                <div  class="text-left font-medium text-red-800">
                                    <p id="precio">{{ datos.precio }}</p>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                       
                        
                    </tbody>
                </table>
            </div>

            <!-- total amount -->
            <div class="flex justify-end font-bold space-x-4 text-2xl border-t border-gray-100 px-5 py-4">
                
                <div>Total</div>
                
            </div>

            <div class="flex justify-end">
                
                <input id="total" type="text" disabled class="border border-black bg-gray-50" x-model="" value="" />
                <script>
                    const precio = document.querySelectorAll("p")
                    let valor = 0
                    precio.forEach(element => {
                        console.log(parseInt(element.innerHTML));
                        valor = valor + parseInt(element.innerHTML)
                    });
                    const total = document.getElementById('total')
                    console.log(total);
                    total.value=valor
                </script>
            </div>
            <div class="flex justify-center">
                {% for mesa in mesa %}
                <div class="flex gap-4">
                    <a href="#" id="btn" class="mb-2
                    transition 
                    duration-500 
                    ease-in-out 
                    transition 
                    ease-in-out 
                    delay-150 
                    hover:-translate-y-1 
                    hover:scale-110 
                    hover:bg-red-800 
                    duration-300
                    bg-red-800 
                    text-white 
                    font-semibold 
                    py-2 px-2
                    rounded-md" onclick="cancelarFacturas({{ mesa.mesa_id }})">Cancelar</a>
                    <a href="#" id="btn" class="mb-2
                    transition 
                    duration-500 
                    ease-in-out 
                    transition 
                    ease-in-out 
                    delay-150 
                    hover:-translate-y-1 
                    hover:scale-110 
                    hover:bg-red-800 
                    duration-300
                    bg-red-800 
                    text-white 
                    font-semibold 
                    py-2 px-2
                    rounded-md" onclick="pagarFacturas({{ mesa.mesa_id }})">Pagar</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
