{% load static %}

<link rel="shortcut icon" href="{% static 'img/Logos/FoodTimefav.png' %}" type="image/x-icon">
<!-- {% for mesas in mesas %}
<a href="{% url 'facturas' mesas.id %}">{{ mesas.nombre }}</a>
{% endfor %} -->


<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
<link rel="shortcut icon" href="{% static 'img/Logos/FoodTimefav.png' %}" type="image/x-icon">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
<script src="https://cdn.tailwindcss.com"></script>
<script src="{% static 'js/sweetalert2.all.min.js' %}"></script>


<a class=
        "fixed
        top-4
        right-4
        border-2
        border-solid
        border-white
        mb-2
        transition 
        duration-500 
        ease-in-out 
        transition 
        ease-in-out 
        delay-150 
        hover:-translate-y-1 
        hover:scale-110 
        hover:bg-red-800 
        duration-300
        bg-red-800 
        text-white 
        font-semibold 
        py-2 px-2
        rounded-md" 
        href="{% url 'logout' %}">
        Cerrar Sesion
    </a>

<section class="antialiased  text-gray-600 mt-4 px-4" x-data="app">
    <div class="flex flex-graw justify-center mt-4 gap-2">
        {% for mesas in mesas %}
        <div class="flex justify-center">
            <div class="block rounded-lg shadow-lg bg-white max-w-sm text-center">
              <div class="py-3 px-6 border-b border-gray-300">
                Mesa
              </div>
              <div class="p-6">
                <h5 class="text-gray-900 text-xl font-medium mb-2">{{ mesas.nombre }}</h5>
                <a href="{% url 'facturas' mesas.id %}" class=" inline-block px-6 py-2.5 bg-red-800 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-gray-700 hover:shadow-lg focus:bg-gray-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-800 active:shadow-lg transition duration-150 ease-in-out">Ver Factura</a>
              </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
