{% load static %}

<link rel="shortcut icon" href="{% static 'img/Logos/FoodTimefav.png' %}" type="image/x-icon">
<!-- {% for mesas in mesas %}
<a href="{% url 'facturas' mesas.id %}">{{ mesas.nombre }}</a>
{% endfor %} -->


<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
<link rel="shortcut icon" href="{% static 'img/Logos/FoodTimefav.png' %}" type="image/x-icon">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
<script src="https://cdn.tailwindcss.com"></script>
<script src="{% static 'js/sweetalert2.all.min.js' %}"></script>


<a class=
        "fixed
        top-4
        right-4
        border-2
        border-solid
        border-white
        mb-2
        transition 
        duration-500 
        ease-in-out 
        transition 
        ease-in-out 
        delay-150 
        hover:-translate-y-1 
        hover:scale-110 
        hover:bg-red-800 
        duration-300
        bg-red-800 
        text-white 
        font-semibold 
        py-2 px-2
        rounded-md" 
        href="{% url 'logout' %}">
        Cerrar Sesion
    </a>

<section class="antialiased  text-gray-600 mt-4 px-4" x-data="app">
    <div class="flex flex-col justify-center mt-4  h-96">
        
    </div>
</section>
