{% load static %}
{% block css %}
<style>
    body{
        background: #333333;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #dd1818, #666666);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #831f1f, #999292); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
</style>
{% endblock %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>
    <link rel="shortcut icon" href="{% static 'img/Logos/FoodTimefav.png' %}" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="font-mono bg-gray-400">
    
    <!-- Container -->
    <div class="container mx-auto">
        <div class="flex justify-center px-6 my-44">
            <div class="gap-4 m-3.5 flex fixed top-0 right-0">
                <a href="{% url 'inicio' %}"><img class="w-10" src="{% static 'img/Logos/home-page1.png' %}" alt=""></a>
            </div>
            <!-- Row -->
            <div class="w-full xl:w-3/4 lg:w-11/12 flex justify-center">
                <!-- Col -->
                <div class="w-full lg:w-7/12 bg-white p-5 rounded-lg lg:rounded-l-none">
                    <h3 class="pt-4 text-2xl text-center">¡Inicio de Sesión!</h3>
                    <form action="" method="POST" enctype="multipart/form-data" class="px-8 pt-6 pb-8 mb-2 bg-white rounded"> {% csrf_token %}
                        <div class="md:flex justify-center">
                            <div class="md:ml-2">
                                <label class="block mb-2 text-sm font-bold text-gray-700" for="Nombre">
                                    Usuario
                                </label>
                                <input
                                    id="id_username"
                                    name="username"
                                    class="w-60 px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                                    type="text"
                                    placeholder="Nombre de Usuario"
                                />
                            </div>
                        </div>
                        <div class="md:flex justify-center">
                            <div class="md:ml-2">
                                <label class="block mb-2 text-sm font-bold text-gray-700" for="contraseña">
                                    Contraseña
                                </label>
                                <input
                                    id="id_password"
                                    name="password"
                                    class="w-60 px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                                    type="password"
                                    placeholder="Contraseña"
                                />
                            </div>
                        </div>
                        <div class="md:flex justify-center">
                            <div class="mt-4 md:ml-2">
                                <button id="id_btn" class="content-center shadow bg-red-900 hover:bg-red-700 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="submit">
                                    Iniciar Sesión
                                </button>
                            </div>
                        </div>
                        <div class="md:flex justify-center mt-6">
                            <div class="md:ml-2">
                                <p>¿Ya te registraste?</p>
                                <p class="flex gap-4">
                                    <a href="{% url 'registraR' %}">Restaurante</a>

                                    <a href="{% url 'registraM' %}">Mesero</a>
                                </p>
                            </div>
                        </div>
                    
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>