*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*HEADER*/

header{
    height: 19vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.header_logo{
    width: 10%;
}

.header_logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav{
    width: 80%;
    height: 100%;
}

nav img{
    width: 20px;
    margin-left: 10px;
}

nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    transition: all 300ms;
}

nav ul li a:hover{
    text-decoration: underline;
    color: #BB6E68;
}

hr{
    margin: 0;
    width: 100%;
    border: none;
    height: .2px;
    background-color: #7a7a7a;
}

/*MAIN*/
main{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .logo_contacto{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_contacto img{
    width: 70%;
    border-radius: 50%;
    border: 1px solid #A8322A;

}

main .form_contactenos{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60%;
}

.form_contactenos .box_inputNombre{
    width: 50%;
    display: flex;
    height: 15%;
}

.form_contactenos .box_inputNombre input{
    width: 90%;
    height: 100%;
    outline: none;
    border: 1px solid black;
}

.form_contactenos .logo_persona{
    width: 10%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_contactenos .box_inputNombre img{
    object-fit: cover;
    width: 50%;
    height: 50%;
}

.form_contactenos .conjunto_input{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    height: 10%;
}

.form_contactenos .conjunto_input input{
    width: 50%;
    height: 100%;
    outline: none;
    border: 1px solid black;
    margin-right: 5px;
}

.form_contactenos .conjunto_input select{
    width: 50%;
    height: 100%;
    outline: none;
    border: 1px solid black;
    margin-left: 5px;
}

.form_contactenos textarea{
    width: 80%;
    height: 20%;
    border: 1px solid black;
    outline: none;
    resize: none;
}

.form_contactenos a{
    width: 25%;
    border: 1px solid black;
    text-decoration: none;
    text-align: center;
    padding: 5px 16px;
    color: black;
}

.form_contactenos input[type="submit"]{
    width: 20%;
    background-color: white;
    color:black;
    border: 2px solid #DB9B96;
    font-size: 1rem;
    border-radius: 1em;
    cursor: pointer;
    transition: background 300ms;
}

.form_contactenos input[type="submit"]:hover{
    background-color: #DB9B96;
    color:white;
}

/*FOOTER*/

footer{
    width: 100%;
    height: 11vh;
    background-color: #A8322A;
    display: flex;
    justify-content: end;
}

footer .box_contacto{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box_contacto p{
    font-size: 1.5rem;
    color: white;
}

.box_contacto img{
    width: 30px;
    height: 30px;
}

.checkbtn{
    font-size: 30px;
    color: black;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    height: 100px;
    background-color: white;
    margin: 0;
    padding: 0;
}

nav ul li:hover .menu-vertical{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width:952px){
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width:858px){

    main .logo_contacto{
        display: none;
    }
    main .form_contactenos{
        width: 100%;
    }

    .checkbtn{
        display: flex;
        justify-content: flex-end;
    }
    nav{
        padding: 0 30px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    nav ul{
        display: none;
        position: absolute;
        width: 30%;
        height: calc(100vh - 100px);
        background-color: white;
        top: 100px;
        right:0%;
        text-align: center;
        transition: all .5s;
        flex-direction: column;
        z-index: 10;
    }
    nav ul li{
        margin: 20px;
    }
    nav ul li a{
        font-size: 20px;
    }

    .menu-vertical{
        position: relative;
        width: 190px;
        height: 109px;
        margin-left: -190px;
        margin-top: -190px;
    }
    #check:checked ~ul{
        display: flex;
    }

    nav img{
        transform: rotate(90deg);
    }
    
}

@media (max-width:600px){

    .header_logo{
        width: 20%;
    }
    nav ul{
        width: 40%;
    }

    footer .box_contacto{
        width: 60%;
    }

    footer .box_contacto p{
        font-size: 16px;
    }

    main{
        background-size: cover;
    }
}

