{% extends 'layout.html' %}
{% load static %}
{% block css %}

{% endblock %}
{% block content %}

{% for p in datosR %}
<div class="flex justify-center items-center gap-8 mt-12">
    <div class="text-center">
        {% if p.logo %}
        <img src="{{ p.logo.url }}" class="rounded-full w-96 mb-4 mx-auto" alt="Avatar" />
        {% endif %}
    </div>
    <div class="border-solid border-2 w-full flex flex-col md:flex-row md:max-w-xl rounded-lg bg-white shadow-lg">
        <div class="p-9 flex flex-col justify-start">
            <h5 class="text-gray-900 text-xl font-medium mb-2">{{ p.nombre }}</h5>
            <p class="text-gray-700 text-base mb-4">
                Celular: {{ p.celular }}
            </p>
            <p class="text-gray-700 text-base mb-4">
                Teléfono: {{ p.telefono }}
            </p>
            <p class="text-gray-700 text-base mb-4">
                Correo: {{ p.correo }}
            </p>
            <p class="text-gray-700 text-base mb-4">
                Dirección: {{ p.direccion }}
            </p>
            <p class="text-gray-700 text-base mb-4">
                Departamento: Quindio
            </p>
            <p class="text-gray-700 text-base mb-4">
                Municipio: {{ p.municipio }}
            </p>
            <button class="flex mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#cocina" aria-expanded="false" aria-controls="collapseExample">
                Cocina
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-down" class="w-2 ml-2 pt-1"
                    role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                    <path fill="currentColor"
                      d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z">
                    </path>
                  </svg>
            </button>
            <div class="collapse" id="cocina">
                <div class="block p-6 rounded-lg shadow-lg bg-white">
                  Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
                </div>
            </div>
            <button class="flex mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#caja" aria-expanded="false" aria-controls="collapseExample">
                Caja
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-down" class="w-2 ml-2 pt-1"
                    role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                    <path fill="currentColor"
                      d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z">
                    </path>
                  </svg>
            </button>
            <div class="collapse" id="caja">
                <div class="block p-6 rounded-lg shadow-lg bg-white">
                  {% for usuarioCocina in usuarioCocina %}
                        {{ usuarioCocina.usuario }}
                  {% endfor%}
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}